.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-logo {
  margin: 1em;
}

.App-description {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2em;
}

.App-description pre {
  display: inline-block;
}

.App-docs {
  padding: 10px;
}